/.config/autostart*
/.config/Code*
/.config/dconf*
/.config/discord*
/.config/freerdp*
/.config/gconf*
/.config/google-chrome*
/.config/gtk-2.0*
/.config/gtk-3.0*
/.config/libreoffice*
/.config/menus*
*mimeapps.list
/.config/neofetch*
/.config/obs-studio*
*pavucontrol.ini
/.config/pulse*
/.config/qutebrowser*
/.config/remmina*
/.config/Slack*
/.config/spotify*
/.config/teamviewer*

.bash_history
.bash_logout
.bash_profile

BrivoCode.txt
/Documents/*.txt
/Downloads
/Images/Screenshots
/Mail
/School
/TSR
/Videos

*.txt

.cache*
.calcurse*
.dbus*
.dmenu_cache

*.fehbg

.fltk*
.gimp-2.8*
.git*
*.gitconfig
.gnome*
.gnome2*
.local*
*Mail
.mono*
.mozilla*
.omnisharp*
*.PAT.swp
.pki*

/Scripts/TSR-VPN.sh

.shutter*/
.ssh*/
.thumbnails*/

.vnc*/
.vscode*/

